<form class="fc-primary" [formGroup]="payForm" (ngSubmit)="submit()">
  <h1 mat-dialog-title>Pay Request</h1>
  <mat-dialog-content>
    <div class="fs-12 d-flex justify-content-between mb-1">
      <div><strong>Expected amount</strong></div>
      <div>{{ web3Service.fromWei(request.expectedAmount) }}<small>&nbsp;ETH</small></div>
    </div>
    <div class="fs-12 d-flex justify-content-between mb-1">
      <div><strong>Already paid</strong></div>
      <div>{{ web3Service.fromWei(request.balance) }}<small>&nbsp;ETH</small></div>
    </div>
    <hr style="border-top: 1px solid #617B9F; opacity: 0.2">
    <div class="fs-12 d-flex justify-content-between mb-3">
      <div><strong>Remains</strong></div>
      <div>{{ web3Service.fromWei(request.expectedAmount.sub(request.balance)) }}<small>&nbsp;ETH</small></div>
    </div>
    <mat-form-field class="w-100">
      <input matInput type="text" formControlName="amountFormControl" placeholder="amount">
      <mat-error *ngIf="amountFormControl.hasError('required')">
        amount is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="amountFormControl.hasError('pattern')">
        must be a <strong>positive number</strong> with maximum <strong>18 decimals</strong>
      </mat-error>
      <span matSuffix><img class="currencyIcon" src="assets/img/cryptoIcons/ETH.png">&nbsp;ETH&nbsp;<a (click)="setMax()" class="fs-12 fc-accent">max</a>
      </span>
    </mat-form-field>
    <div class="fs-12 d-flex justify-content-between my-3">
      <div><strong>Will remain</strong></div>
      <div>{{ amountFormControl.value && amountFormControl.valid ? web3Service.fromWei(request.expectedAmount.sub(request.balance).sub(web3Service.BN(web3Service.toWei(amountFormControl.value)))) : '...' }}&nbsp;<small>ETH</small></div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="mt-3 d-flex justify-content-around w-100">
    <button class="col-5" mat-raised-button type="button" mat-dialog-close>Cancel</button>
    <button class="col-5" mat-raised-button type="submit" [disabled]="!payForm.valid" color="accent">Pay</button>
  </mat-dialog-actions>
</form>
