<div class=wrapper>
  <header *ngIf="!this.router.routerState.snapshot.url.startsWith('/contact')" class="d-flex flex-wrap justify-content-between align-items-center fc-primary px-3">
    <a routerLink="/" style="text-decoration: none" class="d-flex align-items-center">
      <img class="px-3 request-logo" src="assets/img/request-logo.png">
      <span class="semi-bold">Request&nbsp;<sup><small><small>ALPHA TESTNET</small></small></sup></span>
    </a>
    <form [formGroup]="searchForm" (ngSubmit)="search(searchValueFormControl.value)">
      <mat-form-field class="mx-3 searchBar">
        <input matInput type="text" formControlName="searchValueFormControl">
        <button type="submit" matSuffix mat-icon-button [disabled]="!searchValueFormControl.value">
          <mat-icon>search</mat-icon>
        </button>
        <mat-placeholder><small>Search by Request ID / ETH address</small></mat-placeholder>
      </mat-form-field>
    </form>
    <div class="mr-3" [style.width]="'210px'">
      <mat-spinner class="pull-right mr-3" [diameter]="20" *ngIf="account == 'loading'; else accountBlock"></mat-spinner>
      <ng-template #accountBlock>
        <mat-form-field *ngIf="accounts.length; else connectAccount" floatPlaceholder="never" class="w-100">
          <mat-select name="account" placeholder="select account" [(ngModel)]="account">
            <mat-option class="px-1" *ngFor="let account of accounts" [value]="account"><small>
              {{ account }}
            </small></mat-option>
          </mat-select>
          <small matPrefix>
        <img *ngIf="account" [src]="blockies({ seed: account.toLowerCase() }).toDataURL()" style="position: relative; top: -6px; width: 24px; height: 24px; image-rendering: pixelated; border-radius: 12px" />
        <mat-icon *ngIf="!account">account_circle</mat-icon>
        &nbsp;
      </small>
        </mat-form-field>
        <ng-template #connectAccount>
          <button mat-button class="pull-right fs-16" (click)="web3Service.openSnackBar()">
            <mat-icon>account_circle</mat-icon>
            <span>Connect an account</span>
          </button>
        </ng-template>
      </ng-template>
    </div>
  </header>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <footer class="d-flex flex-wrap justify-content-between fc-primary p-3" *ngIf="!this.router.routerState.snapshot.url.startsWith('/contact')">
    <div class="d-flex flex-column m-3">
      <a routerLink="/" style="text-decoration: none">
        <img class="request-logo my-1 img-fluid" src="assets/img/request-logo.png">
        <div class="semi-bold fc-white">Request</div>
      </a>
      <span><small>© Request.Network</small></span>
      <div class="d-flex justify-content-between">
        <a target="_blank" href="https://blog.request.network">
          <i class="fa fa-medium" aria-hidden="true"></i>
        </a>
        <a target="_blank" href="https://twitter.com/requestnetwork">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a target="_blank" href="https://www.reddit.com/r/RequestNetwork/">
          <i class="fa fa-reddit-alien" aria-hidden="true"></i>
        </a>
        <a target="_blank" href="https://t.me/requestnetwork">
          <i class="fa fa-telegram" aria-hidden="true"></i>
        </a>
        <a target="_blank" href="https://github.com/RequestNetwork/">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
        <a target="_blank" href="https://www.facebook.com/Request-Network-140279756554525/">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <div class="ml-auto d-flex flex-wrap">
      <div class="footer-column">
        <span class="my-3 semi-bold">Protocol</span>
        <a href="https://github.com/RequestNetwork/" target="_blank">Github</a>
 <!--        <a href="#">Develop with Request</a>
        <a href="#">Library</a> -->
      </div>
      <div class="footer-column">
        <span class="my-3 semi-bold">Product</span>
        <a target="_blank" href="/assets/pdf/WhitePaper_Request Network_EN.pdf">Whitepaper</a>
        <a target="_blank" href="https://blog.request.network/why-use-request-b28c3e788261">Why use Request</a>
        <a target="_blank" href="https://blog.request.network/request-colossus-launch-how-it-works-871464b361cf">How it works</a>
        <a target="_blank" href="https://blog.request.network/colossuss-frequently-asked-questions-faq-c086231b88fa">FAQ</a>
      </div>
      <div class="footer-column">
        <span class="my-3 semi-bold">Organization</span>
        <a href="https://request.network/" target="_blank">About</a>
        <a routerLink="contact">Contact</a>
      </div>
    </div>
  </footer>
</div>
