<div class=wrapper>
  <header class="d-flex flex-wrap justify-content-between align-items-center fc-primary px-3 mat-elevation-z1">
    <a routerLink="/" style="text-decoration: none" class="d-flex align-items-center">
      <img class="px-3 request-logo" src="assets/img/request-logo.png">
      <span class="semi-bold">Request</span>
    </a>
    <form class="ml-auto" (ngSubmit)="search()" #searchForm="ngForm">
      <mat-form-field class="mx-3" [style.width]="'400px'">
        <input matInput type="text" name="searchvalue" [(ngModel)]="searchValue" #searchvalue="ngModel" />
        <button type="submit" matSuffix mat-icon-button color="primary">
          <mat-icon>search</mat-icon>
        </button>
        <mat-placeholder><small>Search by Request ID / ETH address</small></mat-placeholder>
      </mat-form-field>
    </form>
    <div class="mx-3" [style.width]="'427px'">
      <mat-form-field *ngIf="metamaskReady && accounts; else connectAccount" floatPlaceholder="never" class="w-100">
        <mat-select name="account" placeholder="select account" [(ngModel)]="account">
          <mat-option *ngFor="let account of accounts" [value]="account">{{ account }}</mat-option>
        </mat-select>
        <small matPrefix>
        <img *ngIf="account" [src]="icon ? icon.toDataURL() : ''" style="position: relative; top: -6px; width: 24px; height: 24px; image-rendering: pixelated; border-radius: 12px" />
        <mat-icon *ngIf="!account">account_circle</mat-icon>
        &nbsp;
      </small>
      </mat-form-field>
      <ng-template #connectAccount>
        <button mat-button class="pull-right fs-16" (click)="openSnackBar()">
          <mat-icon>account_circle</mat-icon>
          <span>Connect an account</span>
        </button>
      </ng-template>
    </div>
  </header>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <footer class="d-flex flex-wrap justify-content-between fc-primary p-3">
    <div class="d-flex flex-column m-3">
      <a routerLink="/" style="text-decoration: none">
        <img class="request-logo my-1 img-fluid" src="assets/img/request-logo.png">
        <div class="semi-bold fc-white">Request</div>
      </a>
      <span><small>© Request.Network</small></span>
      <div class="d-flex justify-content-between">
        <a target="_blank" href="https://www.facebook.com/Request-Network-140279756554525/">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a target="_blank" href="https://t.me/requestnetwork">
          <i class="fa fa-telegram" aria-hidden="true"></i>
        </a>
        <a target="_blank" href="https://twitter.com/requestnetwork">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a target="_blank" href="https://github.com/RequestNetwork/">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
        <a target="_blank" href="https://www.reddit.com/r/RequestNetwork/">
          <i class="fa fa-reddit-alien" aria-hidden="true"></i>
        </a>
        <a target="_blank" href="https://blog.request.network">
          <i class="fa fa-medium" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <div class="ml-auto d-flex">
      <div class="footer-column">
        <span class="my-3 semi-bold">Protocol</span>
        <a href="#">Github</a>
        <a href="#">Develop with Request</a>
        <a href="#">Library</a>
      </div>
      <div class="footer-column">
        <span class="my-3 semi-bold">Product</span>
        <a target="_blank" href="/assets/pdf/WhitePaper_Request Network_EN.pdf">Whitepaper</a>
        <a href="#">Why use Request</a>
        <a href="#">How it works</a>
        <a href="#">FAQ</a>
      </div>
      <div class="footer-column">
        <span class="my-3 semi-bold">Organization</span>
        <a href="#">About</a>
        <a href="#">Contact</a>
      </div>
    </div>
  </footer>
</div>
