@import 'variables';
@import 'mixins';

@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/utilities';

@import '~font-awesome/scss/font-awesome';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');

html,
body {
  @include serif-font();
  min-width: 320px;
  height: 100%;
  font-weight: 300;
}

body {
  margin: 0;
}

a {
  cursor: pointer;
}

.metamask-snackbar {
  color: #F0A73A !important;
  background-color: #FDF1E0 !important;
  border: 1px solid #F9DCB0 !important;
  button {
    color: #F0A73A;
  }
}

mat-toolbar.cta-toolbar {
   :first-child {
    border-bottom-left-radius: 7px;
  }
   :last-child {
    border-bottom-right-radius: 7px;
  }
  button {
    border-radius: 0;
    box-shadow: none !important;
    height: 100%;
  }
}

button.no-focus-overlay .mat-button-focus-overlay {
  background-color: transparent;
}

mat-toolbar.mat-toolbar {
  background: $grey-white;
}

.img-fluid {
  max-width: 100%;
  max-height: 100%;
}

.text-right {
  text-align: right;
}

// FONT COLORS
.fc-primary {
  color: $primary;
}

.fc-warn {
  color: $warn;
}

.fc-white {
  color: #fff;
}

.fc-blue-grey {
  color: $blue-grey !important;
}


// BACKGROUND COLORS
.bg-primary {
  background: $primary;
}

.bg-grey-white {
  background: $grey-white;
}

.bg-white {
  background: #fff;
}

.bg-blue-grey {
  color: $blue-grey;
}


// FONT SIZE & WEIGHT
.fs-12 {
  font-size: 12px !important;
  line-height: 14px;
}

.fs-14 {
  font-size: 14px !important;
  line-height: 18px;
}

.fs-16 {
  font-size: 16px !important;
  line-height: 20px;
}

.fs-18 {
  font-size: 18px !important;
  line-height: 22px;
}

.fs-24 {
  font-size: 24px !important;
  line-height: 28px;
}

.semi-bold {
  font-weight: 500;
}


// BORDERS & SHADOW
.sh-blue {
  box-shadow: 2px 2px 18px 0px rgba(212, 227, 255, 0.5) !important;
}

.bor-accent {
  border: 1px solid $accent !important;
}

.br-2 {
  border-radius: 2px;
}

.br-7 {
  border-radius: 7px !important;
}

.btr-7 {
  border-top-left-radius: 7px !important;
  border-top-right-radius: 7px !important;
}

.bbr-7 {
  border-bottom-right-radius: 7px !important;
  border-bottom-left-radius: 7px !important;
}

// OTHERS
.currencyIcon {
  max-height: 16px;
  max-width: 16px;
  position: relative;
  top: -2px;
}

.centered {
  text-align: center;
}

* {
  &:active,
   :focus {
    outline: none !important;
  }
}

label {
  margin: 0;
}

code {
  white-space: nowrap;
  border-radius: 10px;
  padding: 0 8px 1px 8px;
}

//remove number input spinners
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

//Supports Mozilla
input[type=number] {
  -moz-appearance: textfield;
}
