@import 'variables';
@import 'mixins';

@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/popover';
@import '~bootstrap/scss/utilities';

@import '~font-awesome/scss/font-awesome';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');

html,
body {
  @include serif-font();
  min-width: 320px;
  height: 100%;
  font-weight: 300;
}

body {
  margin: 0;
}

* {
  &:active,
   :focus {
    outline: none !important;
  }
}

a {
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

.status {
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  color: white;
}
.status-cancelled {
  @extend .status;
  background-color: #ED6852;
}
.status-in-progress {
  @extend .status;
  background-color: #8AB4FA;
}
.status-complete {
  @extend .status;
  background-color: $green;
}
.status-overpaid {
  @extend .status;
  background-color: $purple;
}
.status-accepted {
  @extend .status;
  background-color: #406278;
}
.status-created {
  @extend .status;
  background-color: $orange;
}

.currencyIcon {
  max-height: 16px;
  max-width: 16px;
  position: relative;
  top: -2px;
}

.warning-snackbar {
  color: #F0A73A !important;
  background-color: #FDF1E0 !important;
  border: 1px solid #F9DCB0 !important;
  button {
    color: #F0A73A;
  }
}

.success-snackbar {
  color: #55ACE6 !important;
  background-color: #ECF6FC !important;
  border: 1px solid #C0E0F6 !important;
  button {
    color: #55ACE6;
  }
}

.mat-simple-snackbar {
  overflow: hidden;
}

mat-toolbar.cta-toolbar {
   :first-child {
    border-bottom-left-radius: 7px;
    flex: 1;
  }
  button:last-child {
    border-bottom-right-radius: 7px;
    flex: 1;
  }
  button {
    border-radius: 0;
    box-shadow: none !important;
    height: 100%;
  }
}

.actionsMenu {
  box-shadow: 2px 2px 18px 0px rgba(212, 227, 255, 0.5) !important;
  max-width: none !important;
  width: 25.25vw;
  min-width: 185px !important;
  top: 64px;
  .mat-menu-item {
    color: $blue-grey;
    padding: 0 3rem;
  }
}

button.no-focus-overlay .mat-button-focus-overlay {
  background-color: transparent;
}

mat-toolbar.mat-toolbar {
  background: $grey-whiter;
}

.img-fluid {
  max-width: 100%;
  max-height: 100%;
}

// CUSTOMIZE POPOVER
.popover .arrow {
  display: none;
}

.mat-tooltip {
  transform-origin: center top 0px;
  transform: scale(1);
}

.popover {
  color: #fff;
  border-radius: 2px;
  padding-left: 8px;
  padding-right: 8px;
  background: rgba(97, 97, 97, 0.9);
  font-size: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: none;
  font-weight: 300;
}

// CUSTOMIZE MAT-INPUT CSS
input.mat-input-element,
span.mat-select-value-text,
textarea.mat-input-element,
div.mat-input-suffix,
div.mat-input-prefix {
  color: $blue-grey;
}

.mat-input-placeholder.mat-form-field-placeholder,
div.mat-hint,
mat-hint.mat-hint {
  color: rgba($blue-grey, 0.6);
}

.mat-input-underline.mat-form-field-underline {
  background-color: rgba($blue-grey, 0.2);
}

// FONT COLORS
.fc-primary {
  color: $primary;
}

.fc-warn {
  color: $warn;
}

.fc-accent {
  color: $accent !important;
}

.fc-white {
  color: #fff;
}

.fc-blue-grey {
  color: $blue-grey !important;
}

// BACKGROUND COLORS
.bg-primary {
  background: $primary;
}

.bg-grey-whiter {
  background: $grey-whiter !important;
}

.bg-white {
  background: #fff;
}

.bg-blue-grey {
  color: $blue-grey;
}


// FONT SIZE & WEIGHT
.fs-12 {
  font-size: 12px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-24 {
  font-size: 24px !important;
}

.semi-bold {
  font-weight: 500;
}

.lh-14 {
  line-height: 14px;
}

.lh-18 {
  line-height: 18px;
}

// BORDERS & SHADOW
.sh-blue {
  box-shadow: 2px 2px 18px 0px rgba(212, 227, 255, 0.5) !important;
}

.bor-accent {
  border: 1px solid $accent !important;
}

.br-2 {
  border-radius: 2px;
}

.br-7 {
  border-radius: 7px !important;
}

.btr-7 {
  border-top-left-radius: 7px !important;
  border-top-right-radius: 7px !important;
}

.bbr-7 {
  border-bottom-right-radius: 7px !important;
  border-bottom-left-radius: 7px !important;
}

// fix chrome autofill theme
input {
  &:-webkit-autofill {
    -webkit-text-fill-color: $blue-grey !important;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}

// remove number input spinners
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// supports Mozilla
input[type=number] {
  -moz-appearance: textfield;
}
