@import 'variables';
@import 'mixins';

@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/utilities';

// @import '~font-awesome/scss/font-awesome';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');

html,
body {
  @include serif-font();
  min-width: 320px;
  height: 100%;
  font-weight: 300;
}

body {
  margin: 0;
}

mat-toolbar.mat-toolbar {
  background: $grey-white;
}

.img-fluid {
  max-width: 100%;
  max-height: 100%;
}

.text-right {
  text-align: right;
}

// FONT COLORS
.fc-primary {
  color: $primary;
}

.fc-white {
  color: #fff;
}

.fc-blue-grey {
  color: $blue-grey !important;
}


// BACKGROUND COLORS
.bg-primary {
  background: $primary;
}

.bg-grey-white {
  background: $grey-white;
}

.bg-white {
  background: #fff;
}

.bg-blue-grey {
  color: $blue-grey;
}


// FONT SIZE & WEIGHT
.fs-12 {
  font-size: 12px !important;
  line-height: 14px !important;
}

.fs-14 {
  font-size: 14px !important;
  line-height: 18px !important;
}

.fs-16 {
  font-size: 16px !important;
  line-height: 20px !important;
}

.fs-18 {
  font-size: 18px !important;
  line-height: 22px !important;
}

.fs-24 {
  font-size: 24px !important;
  line-height: 28px !important;
}

.semi-bold {
  font-weight: 500;
}


// BORDERS & SHADOW
.sh-blue {
  box-shadow: 2px 2px 18px 0px rgba(212, 227, 255, 0.5) !important;
}

.bor-accent {
  border: 1px solid $accent !important;
}

.br-2 {
  border-radius: 2px;
}

.br-7 {
  border-radius: 7px !important;
}

.btr-7 {
  border-top-left-radius: 7px !important;
  border-top-right-radius: 7px !important;
}

.bbr-7 {
  border-bottom-right-radius: 7px !important;
  border-bottom-left-radius: 7px !important;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.currencyIcon {
  max-height: 16px;
  max-width: 16px;
}

.centered {
  text-align: center;
}

* {
  a:hover,
  a:active,
  a:focus {
    // text-decoration: none;
  }

  &:active,
  :focus {
    outline: none !important;
  }
}

label {
  margin: 0;
}

code {
  white-space: nowrap;
  border-radius: 10px;
  padding: 0 8px 1px 8px;
}

//remove number input spinners
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

//Supports Mozilla
input[type=number] {
  -moz-appearance: textfield;
}
