<div class="fc-primary container">
  <div class="row my-5">
    <div class="col-12 fs-20 d-flex mb-4">
      <span *ngIf="searchValue" class="semi-bold">ETH address:</span>&nbsp;<span>{{ searchValue }}</span>
      <mat-spinner class="ml-3" [diameter]="20" *ngIf="searchValue &&  loading && (!dataSource || dataSource.data.length < 1)"></mat-spinner>
      <span class="ml-auto semi-bold" *ngIf="!loading && dataSource && dataSource.data.length == 0">&nbsp;0 result found for this address</span>
    </div>
    <!-- <div class="col-md-3">&nbsp;</div> -->
    <div class="col-md-12 d-flex flex-column">
      <mat-table #table matSort [dataSource]="dataSource">
        <!-- ID Column -->
        <ng-container matColumnDef="requestId">
          <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
          <mat-cell *matCellDef="let req"><a routerLink="/request/requestId/{{req.requestId}}" class="fc-accent">{{ req.requestId.substring(0,5)}}...{{ req.requestId.substring(61,66) }}</a></mat-cell>
        </ng-container>
        <!-- Age Column -->
        <ng-container matColumnDef="_meta.timestamp">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Age </mat-header-cell>
          <mat-cell *matCellDef="let req">{{ getAgeFromTimeStamp( req._meta.timestamp) }}</mat-cell>
        </ng-container>
        <!-- From Column -->
        <ng-container matColumnDef="request.payee">
          <mat-header-cell *matHeaderCellDef mat-sort-header> From </mat-header-cell>
          <mat-cell *matCellDef="let req">
            <div *ngIf="req.request">
              <a routerLink="/search/{{req.request.payee}}" *ngIf="req.request.payee == searchValue; else payeeSpan" class="fc-accent">{{ req.request.payee.substring(0, 5) }}...{{req.request.payee.substring(37, 42) }}</a>
              <ng-template #payeeSpan><span *ngIf="req.request">{{ req.request.payee.substring(0, 5) }}...{{req.request.payee.substring(37, 42) }}</span></ng-template>
            </div>
          </mat-cell>
        </ng-container>
        <!-- To Column -->
        <ng-container matColumnDef="request.payer">
          <mat-header-cell *matHeaderCellDef mat-sort-header> To </mat-header-cell>
          <mat-cell *matCellDef="let req">
            <div *ngIf="req.request">
              <a routerLink="" *ngIf="req.request.payer == searchValue; else payerSpan" class="fc-accent">{{ req.request.payer.substring(0, 5) }}...{{req.request.payer.substring(37, 42) }}</a>
              <ng-template #payerSpan><span *ngIf="req.request">{{ req.request.payer.substring(0, 5) }}...{{req.request.payer.substring(37, 42) }}</span></ng-template>
            </div>
          </mat-cell>
        </ng-container>
        <!-- Amount Column -->
        <ng-container matColumnDef="request.expectedAmount">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Amount</mat-header-cell>
          <mat-cell *matCellDef="let req">
            <span *ngIf="req.request">{{ this.web3Service.fromWei(req.request.expectedAmount) }}&nbsp;ETH</span>
          </mat-cell>
        </ng-container>
        <!-- Amount Received Column -->
        <ng-container matColumnDef="request.balance">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Amount Received</mat-header-cell>
          <mat-cell *matCellDef="let req">
            <span *ngIf="req.request">{{ this.web3Service.fromWei(req.request.balance) }}&nbsp;ETH</span>
          </mat-cell>
        </ng-container>
        <!-- Status Column -->
        <ng-container matColumnDef="request.status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
          <mat-cell *matCellDef="let req" class="text-center">
            <span *ngIf="req.request" class="status-{{req.request.status.replace(' ','-')}}">{{ req.request.status }}</span>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
    </div>
  </div>
</div>
