<div class="container">
  <div class="row my-5">
    <div class="col-md-3">
      <button mat-button class="bor-accent" color="accent" style="width: 100%">Copy url</button>
    </div>
    <div class="ml-auto col-md-8">
      <mat-card class="p-0 br-7 sh-blue">
        <div class="d-flex bg-primary p-4 btr-7">
          <img class="px-3" style="max-height: 75px;" src="assets/img/request-logo.png">
          <div class="ml-auto">
            <div class="fc-white semi-bold">New Request</div>
            <div class="fc-white" style="opacity: 0.51"><i>Date du jour</i></div>
          </div>
        </div>
        <mat-toolbar class="p-4 bbr-7" style="height: 60px">
          Test
        </mat-toolbar>
        <div class="p-4">
        </div>
        <mat-toolbar class="p-0 bbr-7" style="height: 60px">
          <button class="ml-auto p-0 br-0" mat-raised-button color="accent" style="width: 50%; height: 100%; border-radius: 0 0 7px 0; box-shadow: none !important;">Add a discount</button>
        </mat-toolbar>
      </mat-card>
    </div>
  </div>
</div>
