.url-box {
  border: 1px solid #DBE1E8;
  background: #fff !important;
  opacity: 0.5;
  height: 50px;
  font-weight: inherit;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
