<div class="container">
  <div class="row my-5">
    <div class="col-md-3">
      <button mat-button class="bor-accent" color="accent" style="width: 100%">Copy url</button>
    </div>
    <div class="ml-auto col-md-8">
      <mat-spinner class="mx-auto" *ngIf="!request || !request.requestId"></mat-spinner>
      <mat-card *ngIf="request && request.requestId" class="p-0 br-7 sh-blue">
        <div class="d-flex bg-primary p-4 btr-7">
          <img class="px-3" style="max-height: 75px;" src="assets/img/request-logo.png">
          <div class="ml-auto text-right">
            <h4 class="fc-white semi-bold fs-18">{{request.details.data.date | date: 'fullDate'}}</h4>
            <div class="fc-white fs-14"><i>Request Id: {{request.requestId}}</i></div>
          </div>
        </div>
        <div class="bg-grey-white fc-blue-grey p-4 d-flex flex-wrap">
          <div class="d-flex" style="flex: 1">
            <div class="px-3">
              <img [src]="fromIcon.toDataURL()" style="width: 50px; height: 50px; image-rendering: pixelated; border-radius: 25px" />
            </div>
            <div class="fs-14">
              <div class="mb-1" style="opacity: 0.5">FROM</div>
              <div class="semi-bold">ETH address</div>
              <div matTooltip="{{request.payer}}">{{request.payer.substring(0, 10)}}...{{request.payer.substring(32, 42)}}</div>
            </div>
          </div>
          <div class="d-flex" style="flex: 1">
            <div class="px-3">
              <img [src]="toIcon.toDataURL()" style="width: 50px; height: 50px; image-rendering: pixelated; border-radius: 25px" />
            </div>
            <div class="fs-14">
              <div class="mb-1" style="opacity: 0.5">TO</div>
              <div class="semi-bold">ETH address</div>
              <div matTooltip="{{request.payee}}">{{request.payee.substring(0, 10)}}...{{request.payee.substring(32, 42)}}</div>
            </div>
          </div>
        </div>
        <div class="fc-blue-grey p-4" style="border-bottom: 1px solid #DFE5EC">
          <div *ngFor="let data of objectKeys(request.details.data)" [hidden]="data == 'date'">
              <div class="semi-bold">{{data}}</div>
              <div>{{request.details.data[data]}}</div>
          </div>
        </div>
        <mat-toolbar class="p-0 bbr-7" style="height: 60px">
          <button class="ml-auto p-0 br-0" mat-raised-button color="accent" style="width: 50%; height: 100%; border-radius: 0 0 7px 0; box-shadow: none !important;">Add a discount</button>
        </mat-toolbar>
      </mat-card>
    </div>
  </div>
</div>
