<div class="fc-primary container">
  <div class="row my-5">
    <div class="col-md-6 py-3">
      <h1>Send payment requests,<br/>the right way</h1>
      <p>A decentralized network to get paid in cryptocurrencies.</p>
      <div class="success-snackbar p-3 fs-14">
        <p>This is a MVP. What we call MVP is the first version of the website which will allow anyone to interact with the Request Network smart contracts on the testnet.</p>
        <div>What you can do with the first version of Request on the testnet:</div>
        <ul>
          <li>Connect to your wallet with Metamask</li>
          <li>Create and send a request in ETH</li>
          <li>Pay a request in ETH</li>
          <li>Pay a request multiple times</li>
          <li>Update a request (add a subtract as the payee or an additional as the payer)</li>
          <li>Check your requests associated with an ETH address</li>
        </ul>
        <div>Please note that we will keep on improving this first version and continuously add new features in the coming months.</div>
      </div>
    </div>
    <div class="col-md-6">
      <mat-card class="p-0 br-7 sh-blue">
        <div class="d-flex bg-primary p-4 btr-7">
          <img class="px-3" [style.max-height]="'50px'" src="assets/img/request-logo.png">
          <div class="fc-white ml-auto text-right">
            <h4 class="fs-18 semi-bold">New Request</h4>
            <div class="fs-14" [style.opacity]="'0.5'">
              <i>{{date | date: 'fullDate'}}</i>
            </div>
          </div>
        </div>
        <form [formGroup]="requestForm" (ngSubmit)="createRequest()">
          <div class="p-4 mb-5">
            <div class="d-flex w-100">
              <mat-form-field class="w-100">
                <input matInput type="text" placeholder="Request amount" [formControl]="expectedAmountFormControl">
                <mat-error *ngIf="expectedAmountFormControl.hasError('required')">
                  amount is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="expectedAmountFormControl.hasError('pattern')">
                  amount must be a <strong>positive number</strong> with maximum <strong>18 decimals</strong>
                </mat-error>
                <span matSuffix><img class="currencyIcon" src="assets/img/cryptoIcons/ETH.png">&nbsp;ETH</span>
              </mat-form-field>
              <!-- <mat-form-field [style.width]="'64px'">
                <mat-select [formControl]="currency" name="currency">
                  <mat-option *ngFor="let c of currencies" [value]="c.iso">
                    <img class="currencyIcon" src="assets/img/cryptoIcons/{{c.iso}}.png">&nbsp;{{c.iso}}
                  </mat-option>
                </mat-select>
                <span matPrefix>
                  <img class="currencyIcon" src="assets/img/cryptoIcons/{{currency.value}}.png">&nbsp;
                </span>
              </mat-form-field> -->
            </div>
            <mat-form-field class="w-100">
              <input matInput maxlength="42" placeholder="Payer's ETH address" [formControl]="payerFormControl">
              <mat-error *ngIf="payerFormControl.hasError('required')">
                payer's ETH address is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="payerFormControl.hasError('pattern')">
                ETH address format <strong>not valid</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="w-100" hintLabel="Max 256 characters">
              <textarea matInput maxlength="256" rows="1" placeholder="Reason (optional)" [formControl]="reasonFormControl"></textarea>
              <mat-hint align="end">{{reasonFormControl?.value.length || 0}}/256</mat-hint>
            </mat-form-field>
          </div>
          <mat-toolbar class="p-0 bbr-7 cta-toolbar" [style.height]="'60px'">
            <div></div>
            <button class="fs-18" mat-raised-button color="accent" type="submit" [disabled]="formDisabled && !requestForm.valid">Create a Request&nbsp;
              <i *ngIf="createLoading" class="fa fa-circle-o-notch fa-spin"></i>
            </button>
          </mat-toolbar>
        </form>
      </mat-card>
    </div>
  </div>
</div>
