<div class="fc-primary container">
  <div class="row my-5">
    <div class="col-md-6 py-3">
      <h1>Send payment requests,<br/>the right way</h1>
      <p>A decentralized network to get paid in cryptocurrencies.
        <br/>Formal & Simple.</p>
    </div>
    <div class="col-md-6">
      <mat-card class="p-0 br-7 sh-blue">
        <div class="d-flex bg-primary p-4 btr-7">
          <img class="px-3" style="max-height: 50px;" src="assets/img/request-logo.png">
          <div class="ml-auto">
            <div class="fc-white semi-bold text-right">New Request</div>
            <div class="fc-white" style="opacity: 0.51"><i>{{date | date: 'fullDate'}}</i></div>
          </div>
        </div>
        <div class="p-4">
          <form [formGroup]="requestForm" (ngSubmit)="createRequest()" class="requestForm">
            <div class="d-flex w-100">
              <mat-form-field class="w-100">
                <input matInput type="number" placeholder="Request amount" [formControl]="amountFormControl">
                <mat-error *ngIf="amountFormControl.hasError('required')">
                  amount is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field [style.width]="'64px'">
                <mat-select [formControl]="currency" name="currency">
                  <mat-option *ngFor="let c of currencies" [value]="c.iso">
                    <img class="currencyIcon" src="assets/cryptoIcons/{{c.iso}}.png">&nbsp;{{c.iso}}
                  </mat-option>
                </mat-select>
                <span matPrefix>
                  <img class="currencyIcon" src="assets/cryptoIcons/{{currency.value}}.png">&nbsp;
                </span>
              </mat-form-field>
            </div>
            <mat-form-field class="w-100">
              <input matInput placeholder="Payer’s ETH address (optional)" [formControl]="payerAddressFormControl">
            </mat-form-field>
            <mat-form-field class="w-100" hintLabel="Max 256 characters">
              <textarea matInput maxlength="256" rows="1" placeholder="Reason (optional)" [formControl]="reasonFormControl"></textarea>
              <mat-hint align="end">{{reasonFormControl?.value.length || 0}}/256</mat-hint>
            </mat-form-field>
          </form>
        </div>
        <mat-toolbar class="p-0 bbr-7" style="height: 60px">
          <button class="ml-auto p-0 br-0" mat-raised-button color="accent" style="width: 50%; height: 100%; border-radius: 0 0 7px 0; box-shadow: none !important;" (click)="createRequest()" [disabled]="!requestForm.valid">Create a Request</button>
        </mat-toolbar>
      </mat-card>
    </div>
  </div>
</div>
